---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import dayjs from 'dayjs'
import { Layout } from '../../layouts'

export const getStaticPaths = async () => {
  const blogEntries = await getCollection('articles')

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

export const prerender = true

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout>
  <article class="article">
    <header class="article__header">
      <hgroup class="article__hgroup">
        <p class="article__publishedDate">
          <Icon name="mdi:calendar-clock" size="1rem" />
          {dayjs(entry.data.publishedDate).locale('ja').format('YYYY.MM.DD')}
        </p>
        <h1 class="article__title">{entry.data.title}</h1>
        <p class="article__category">
          <Icon name="mdi:folder-open" size="1rem" />
          {entry.data.category}
        </p>
      </hgroup>
    </header>
    <Content class="article__content" />
  </article>
</Layout>

<style>
@layer layout {
  :where(.article) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;

    :where(.article__header) {
      width: 100%;

      :where(.article__hgroup) {
        display: grid;
        place-items: center;
        width: 100%;
        grid-template-rows: max-content max-content max-content;
        gap: 0.5rem;

        :where(.article__title) {
          font-size: 1.25rem;
          line-height: 1.5;
          font-weight: 700;
          color: var(--c-primary);
          width: 100%;
          text-wrap: balance;

          margin-block: var(--leading-trim);
        }


        @container global-container (width >= 768px) {
          :where(.article__title) {
            font-size: 1.5rem;
            line-height: 2.0;
          }
        }

        :where(.article__category, .article__publishedDate) {
          width: 100%;
          display: inline flex;
          align-items: center;
          gap: 0.5rem;
          text-align: start;
        }
      }
    }
  }
}
</style>
