---
import { getCollection } from 'astro:content'
import { ArticleCard } from '../../components'
import { Layout } from '../../layouts'
import 'dayjs/locale/ja'
import dayjs from 'dayjs'

const articles = await getCollection('articles')
---

<Layout>
  <div class="article-list">
    {
      articles
        .toSorted((a, b) => dayjs(b.data.publishedDate).unix() - dayjs(a.data.publishedDate).unix())
        .map((article) => <ArticleCard article={article} locale="ja" />)
    }
  </div>
</Layout>

<style>
  :where(.article-list) {
    display: grid;
    gap: 2rem;

    @container global-container (width >= 768px) {
    }
  }
</style>
