---

---

<main id="main" class="ui-main">
  <div class="ui-main__container">
    <slot />
  </div>
</main>

<style>
  @layer layout {
    :where(.ui-main) {
      container-name: main-content;
      container-type: inline-size;

      display: flex;
      justify-content: center;
      box-sizing: border-box;

      width: 100cqi;

      :where(.ui-main__container) {
        padding-inline: 1rem;
        padding-block: 0.75rem;
        box-sizing: border-box;

        width: 100%;
      }

      @container global-container (width 768px) {
      }

      @container global-container (width >= 1024px) {
        :where(.ui-main__container) {
          width: var(--width--mainContent);
        }
      }
    }
  }
</style>
