---
import { Icon } from 'astro-icon/components'
import { IconLink } from '../IconLink'
import { Link } from '../Link'
---

<header aria-label="サイトヘッダー" class="site-header">
  <div class="site-header__container">
    <div class="site-header__title">
      <p>kollog</p>
    </div>

    <nav class="site-header__nav">
      <Link href="/">HOME</Link>
      <Link href="/about">ABOUT</Link>
      <Link href="/articles">ARTICLES</Link>
      <IconLink href="https://github.com/koralle" target="_blank" rel="noreferrer">
        <Icon name="mdi:github" size="1.5rem" />
      </IconLink>
    </nav>
  </div>
</header>

<style>
  @layer layout {
    :where(.site-header) {
      --height__header: calc(64 / 16 * 1rem);

      container: site-header / inline-size;

      position: sticky;
      top: 0;

      display: flex;
      justify-content: center;
      box-sizing: border-box;

      width: 100cqi;

      backdrop-filter: saturate(100%) blur(20px);

      z-index: 1;

      :where(.site-header__container) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-inline: 1rem;
        padding-block: 0.75rem;

        width: 100%;
        height: var(--height__header);

        letter-spacing: 0.04em;

        :where(.site-header__title) {
          font-size: 1.5rem;
          font-weight: 700;
        }

        :where(.site-header__nav) {
          display: none;
        }
      }
    }

    @container site-header (width >= 768px) {
      :where(.site-header__container) {
        :where(.site-header__nav) {
          display: flex;
          gap: 1rem;
        }
      }
    }

    @container site-header (width >= 1440px) {
      :where(.site-header__container) {
        width: var(--width--globalContent);
      }
    }
  }
</style>
