---
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'
import dayjs from 'dayjs'
import { Link } from '../Link'

interface Props {
  article: CollectionEntry<'articles'>
  locale: string
}

const { article, locale } = Astro.props
---

<div class="ui-article-card">
  <Link href={`/articles/${article.slug}`}>
    <span>{article.data.title}</span>
  </Link>
  <div class="ui-article-card__meta">
    <div>
      <span class="ui-article-card__category">
        <Icon name="mdi:folder-open" size="1rem" />
        {article.data.category}
      </span>
      <span class="ui-article-card__publishedDate">
        <Icon name="mdi:calendar-clock" size="1rem" />
        {dayjs(article.data.publishedDate).locale(locale).format('YYYY.MM.DD')}
      </span>
    </div>
  </div>
</div>

<style>
  @layer component {
    :where(.ui-article-card) {
      display: grid;
      gap: 0.5rem;
      justify-items: start;

      :where(.ui-article-card__meta) {
        display: grid;
        grid-template-rows: max-content max-content max-content;
        align-items: center;

        width: 100%;

        :where(.ui-article-card__category) {
          display: inline flex;
          justify-content: start;
          align-items: center;
          gap: 0.25rem;
        }

        :where(.ui-article-card__publishedDate) {
          display: inline flex;
          justify-content: start;
          align-items: center;
          gap: 0.25rem;
        }
      }

      @container global-container (width >= 768px) {
        :where(.ui-article-card__meta) {
          width: 40cqi;
        }
      }
    }
  }
</style>
