---
import type { CollectionEntry } from 'astro:content'
import dayjs from 'dayjs'
import { CalendarClock, FolderOpen } from 'lucide-astro'
import { Link } from '../Link'

interface Props {
  article: CollectionEntry<'articles'>
  locale: string
}

const { article, locale } = Astro.props
---

<div class="ui-article-card">
  <span class="ui-article-card__publishedDate">
    <CalendarClock />
    {dayjs(article.data.publishedDate).locale(locale).format('YYYY.MM.DD')}
  </span>
  <Link href={`/articles/${article.slug}`}>
    <span class="ui-article-card__title">{article.data.title}</span>
  </Link>
  <div class="ui-article-card__meta">
    <div>
      <span class="ui-article-card__category">
        <FolderOpen />
        {article.data.category}
      </span>
    </div>
  </div>
</div>

<style>
  @layer component {
    :where(.ui-article-card) {
      display: grid;
      justify-items: start;

      :where(.ui-article-card__title) {
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 700;
        text-wrap: balance;
      }

      @container global-container (width >= 768px) {
        :where(.ui-article-card__title) {
          font-size: 1.5rem;
          line-height: 2.0;
        }
      }

      :where(.ui-article-card__meta) {
        display: grid;
        grid-template-rows: max-content max-content max-content;
        align-items: center;

        width: 100%;

        :where(.ui-article-card__category) {
          display: inline flex;
          justify-content: start;
          align-items: center;
          gap: 0.25rem;
        }

        :where(.ui-article-card__publishedDate) {
          display: inline flex;
          justify-content: start;
          align-items: center;
          gap: 0.25rem;
        }
      }

      @container global-container (width >= 768px) {
        :where(.ui-article-card__meta) {
          width: 40cqi;
        }
      }
    }
  }
</style>
