---
import '../styles/layer.css'
import '../styles/vars.css'
import '../styles/global-styles.css'
import { ViewTransitions } from 'astro:transitions'
import { Footer, Header, Main } from '../components'
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>

<style>
  @import url('../styles/vars.css') layer(base);
  @import url('../../node_modules/taks-custom-base-css/taks-custom-base.css') layer(reset);

  @layer base {
    :where(:root) {
      color-scheme: dark light;
    }

    :where(html, body) {
      font-family: var(--font-family);
      color: var(--c-text-main);
      background-color: var(--c-bg-primary);
    }

    :where(body) {
      container-name: global-container;
      container-type: inline-size;

      position: relative;

      display: grid;
      grid-template-rows: max-content 1fr max-content;
    }
  }
</style>
