---
import { Footer, Header } from '../components'
import '../styles/vars.css'
import '../styles/global-styles.css'
---

<html lang="ja">
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
