---
import type { HTMLAttributes } from 'astro/types'

interface LinkProps extends HTMLAttributes<'a'> {}

const { href, ...props } = Astro.props as LinkProps
---

<a class="ui-link" href={href} {...props}>
  <slot />
</a>

<style>
@layer component {
  .ui-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;


    color: var(--c-text-main);

    @media (any-hover: hover) {
      &:where(:any-link:hover) {
        color: darken(var(--c-text-main), 10%);
        text-decoration: underline;
        text-underline-offset: 0.25em;
      }
    }

    &:where(:focus-visible) {
    }
  }
}
</style>
